/*
    Desc: Common styling variables bem-site-engine

    Note: The code of this block must be above all other stylus files.
    Usage: We connect it in page block deps with 'required option'
*/

$link = #01b
$linkVisited = #551a8b
$linkHover = #000

$transition-delay = .15s ease-out

