.menu-list_main
{
    background: black;
    color: #FFFFFF;
    flex: 0 0 200px;
    padding-top: 20px;
    vertical-align: top;
}

.menu-list_main .menu-list__item
{
    transition: .3s color;
}

.menu-list_main .menu-list__item:hover, 
.menu-list_main .menu-list__item .link:hover
{
    color: #FFD94D;
    background: transparent;
}

.menu-list_main .menu-list__item_active
{
    background: transparent;
}

.menu-list_main .menu-list__item_active.menu-list__item_type_simple .link
{
    color: #FFD94D;
}


.menu-list_main .menu-list__item_type_group,
.menu-list_main .menu-list__item > .link
{
    display: block;
    padding: 10px 10px 7px 10px;
    text-decoration: none;
    color: #ffffff;
}

@media screen and (max-height:700px) {
    .menu-list_main .menu-list__item > .link
    {
        padding: 4px 5px 4px 12px;
    }
}
