.bk-example
{
    padding: 12px;

    position: relative;
    z-index: 4;
}

.bk-example__title
{
    line-height: 18px;
    
    margin-top: -2px;
    padding-bottom: 5px;
}

/*
.bk-example__title .link_external_yes
{
    color: #070;   
}
*/

.bk-example__live
{
    border: 0;

    width: 100%;
    overflow-x: hidden;
}