.topic_type_block
{
	height: 160px;
	padding: 2px;
	cursor: pointer;
}

.topic_type_block:hover
{
	background: none repeat scroll 0 0 rgba(15, 111, 179, 0.08);
}

.topic_type_block .topic__icon, .topic_type_block .topic__data
{
	display: block;
	margin: auto;
	text-align: center;	
}

.topic_type_block .topic__name 
{
	padding: 0;
}
