Source: yandex-bem-info-nginx-conf
Section: yandex
Priority: optional
Maintainer: Pavel Bashinsky <pbashinsky@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50~)

Package: yandex-bem-info-nginx-conf
Architecture: all
Depends: nginx, config-nginx-main, config-nginx-spec
Provides: yandex-bem-www-nginx-conf
Conflicts: yandex-bem-www-nginx-conf
Replaces: yandex-bem-www-nginx-conf
Description: Nginx config for bem.info
