.lang-switch
{
    margin-left: 30px;
    margin-right: 40px;

    .link
    {
        letter-spacing: 1px;

        color: #fff;

        &:hover
        {
            color: #ffd94d;
        }
    }
}
