.lang-switch
{
    padding: 20px 0 10px 20px;

    .link
    {
        padding: 7px 5px 7px 10px;

        transition: .3s color;
        letter-spacing: 1px;

        color: #fff;

        &:hover
        {
            color: #ffd94d;
        }
    }
}
