:link,
:visited
{
    text-decoration: none;

    color: #268bd2;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:link:hover,
:visited:hover
{
    transition: color .15s ease-out;

    color: #000;
}
