.DS_Store
.idea
.settings
.project

.bem/cache
.bem/snapshots

node_modules
vendor

datasrc/*
!datasrc/.bem
datasrc/.bem/cache

desktop.bundles/*/*.*
!desktop.bundles/*/*.bemdecl.js
!desktop.bundles/.bem/*

