.DS_Store
.idea
.settings
.project

.gitmodules
npm-debug.log
freeze
node_modules

src/*.bundles/*/*.*
!src/desktop.bundles/*/*.bemdecl.js
!src/errors.bundles/*/*.bemjson.js
desktop.bundles

*.deb
*.build
*.changes
*.upload
*.dsc
*.tar.gz
