.DS_Store
.idea
.settings
.project

.bem/snapshots
.gitmodules
freeze
node_modules
libs
datasrc

src/.bem/cache
src/*.bundles/*/*.*
!src/*.bundles/*/*.bemdecl.js
!src/*.bundles/.bem/*

*.deb
*.build
*.changes
*.upload
*.dsc
*.tar.gz
