.author__avatar_no-image_yes
{
    margin: auto;

    &.author__avatar_size
    {
        &_medium
        {
            background: url('no-image120.png') no-repeat;
        }

        &_small
        {
            background: url('no-image80.png') no-repeat;
        }
    }
}
