Source: yandex-legoa-data
Section: yandex
Priority: optional
Build-Depends: debhelper (>= 7)
Maintainer: Vladimir Varankin <varankinv@yandex-team.ru>

Package: yandex-legoa-data
Section: yandex
Priority: optional
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Architecture: all
Description: Data package for legoa

