#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export DH_OPTIONS=-v

%:
	dh $@

#override_dh_auto_clean:
#	$(BEM) make -m clean

#override_dh_auto_build:
#	dh_testdir
#	$(BEM) make sources

override_dh_auto_clean override_dh_auto_build override_dh_auto_install:

