.showcase
{
    padding: 0;
}

.showcase__item
{
    padding: 16px 0;
}

.showcase__title
{
    font-size: 16px;
    line-height: 18px;

    margin: 0 0 4px;
}

.showcase__item-repo .link_external_yes
{
    color: #070;
}

.showcase .headline_level_1
{
    margin-top: 0;
}