.showcase
{
    padding: 40px 0;
    
    width: 556px;   
}

.showcase__item.island
{
    padding: 12px;
}

.showcase__title
{
    font-size: 16px;
    line-height: 18px;
    
    margin: 0 0 4px;
}

.showcase__item-repo .link_external_yes
{
    color: #070;
}
