.block-example__link
{
    font-size: 14px;

    position: relative;

    margin-right: 15px;
}

a.block-example__link,
.block-example__link:link
{
    color: #8F8F8F;
}

.block-example__link,
.block-example__link:after
{
    display: inline-block;
}

.block-example__link:hover
{
    color: #000;
}

.block-example__link:after
{
    width: 20px;
    height: 20px;
    margin-left: 3px;

    content: "";
    vertical-align: bottom;

    opacity: .6;
}

.block-example__link:hover:after
{
    opacity: 1;
}
