.block-example__link
{
    font-size: 14px;
    line-height: 1;

    position: relative;

    display: inline-block;

    padding: 5px 8px 3px;

    color: #8f8f8f;
    border-right: 1px solid $grey;

    &:after
    {
        display: inline-block;

        width: 24px;
        height: 24px;
        margin-left: 3px;

        content: '';
        vertical-align: middle;

        opacity: .6;
        background-repeat: no-repeat;
    }

    &:hover,
    &:hover .link
    {
        color: #000;

        &:after
        {
            opacity: 1;
        }
    }

    & .link,
    &:visited
    {
        color: #8f8f8f;
    }
}
