.block-jsdoc
{
    font: 15px Arial, Helvetica, sans-serif;
    padding: 0 10px 10px;

    h1:first-child
    {
        margin-top: 0;
    }

    &__toc
    {
        padding-bottom: 15px;
    }

    h4
    {
        margin-bottom: 10px;
    }

    &__methods
    {
         border-top: 1px solid #cbcbcb;
    }
    &__method
    {
        padding: 0 0 20px 0;
    }

    &__methods-type
    {
        margin-top: 10px;
    }

    &__method-title
    {
        font-size: 18px;

        padding-bottom: 20px;
    }

    &__method-name
    {
        font-weight: bold;
    }

    &__method-labels
    {
        display: inline-block;
    }

    &__method-label
    {
        display: inline-block;

        padding: 3px 5px;
        margin-left: 5px;

        background: #ffec9d;
        border-radius: 2px;
    }

    &__method-returns
    {
        font-style: italic;
    }

    &__method-name,
    &__args-list
    {
        margin-right: 5px;
    }

    &__desc-title,
    &__args-title
    {
        color: #9a9a9a;

        margin-bottom: 10px;
    }

    &__desc-deprecated .jsdoc__desc-title
    {
        color: #ff6b6b;
    }

    &__desc-content,
    &__args-content
    {
        margin-left: 12px;
    }

    &__desc,
    &__desc-deprecated
    {
        margin-bottom: 10px;
    }

    &__arg-title
    {
        display: inline-block;

        min-width: 100px;
    }

    &__arg-type
    {
        font-style: italic;
    }

    &__args-content
    {
        display: table;
    }

    &__row
    {
        display: table-row;
    }

    &__arg-title,
    &__arg-description
    {
        display: table-cell;
    }

    &__arg-description
    {
        line-height: 22px;
        padding-bottom: 20px;
    }

    &__arg_optional
    {
        color: #9a9a9a
    }

    &__method-link
    {
        display: block;
        color: #01b;
    }
}
