.search-panel__spin.spin_progress
{
    &.spin_progress
    {
        position: absolute;
        top: 50%;
        left: 50%;

        margin: auto;
    }

    &.spin_progress.spin_size_xl
    {
        margin-top: -16px;
        margin-left: -16px;
    }
}
