.post_view_full .post__tags
{
    line-height: 20px;

    margin-left: 20px;
}

.post__tags .link
{
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 10px 10px 10px 10px;
    margin-left: 2px;
    padding: 4px 10px;
}
