.author_view_grid-cell
{
    display: inline-block;

    width: 160px;
    height: 160px;

    margin-left: 20px;
    margin-top: 20px;
    padding: 10px 5px 5px;

    vertical-align: top;
    text-align: center;

    background: #fff;
    color: #555;

    text-decoration: none;

    -webkit-transition: font-size .15s ease-out;
    -moz-transition: font-size .15s ease-out;
    -ms-transition: font-size .15s ease-out;
    -o-transition: font-size .15s ease-out;
    transition: font-size .15s ease-out;
}

.author_view_grid-cell:hover
{
    font-size: 1.2em;
}


.author_view_grid-cell > .author__name
{
    display: block;

    margin-top: 9px;
}
