.menu-list_type_header
{
    overflow: hidden

    border-right: none

    align-self: center
    margin: 5px 0 5px 10px

    .menu-list__link
    {
        font-size: 15px
        line-height: 1.5

        display: inline-block
        vertical-align: middle

        margin-right: 20px

        transition: $transition-delay

        color: $white

        &:hover,
        &_active
        {
            color: $yellow
        }
    }
}
