.menu-list_type_main
{
    padding-top: 20px;

    vertical-align: top;

    color: #fff;
    background: black;

    flex: 0 0 200px;
}

.menu-list_type_main .menu-list__link
{
    padding: .5em 10px .5em 30px;

    transition: .3s color;
    letter-spacing: 1px;

    color: #fff;
}

.menu-list_type_main .menu-list__link:hover
{
    color: #FFD94D;
    background: none;
}

.menu-list_type_main .menu-list__link_active
{
    color: #FFD94D;
}

.menu-list_type_main .menu-list__delimeter
{
    background: #666;
}

.menu-list_type_main .menu-list__link
{
    line-height: 1em;
}

.menu-list_type_main .menu-list__title
{
    font-size: 15px;
    font-weight: normal;

    padding: 10px 10px 10px 30px;
    padding-left: 30px;

    letter-spacing: 1px;
}
.menu-list_type_main .menu-list__group .menu-list__link
{
    font-size: 13px;

    position: relative;

    padding-left: 50px;
}

.menu-list_type_main .menu-list__group .menu-list__link:before
{
    font-size: .7em;

    position: absolute;

    margin: 0 0 0 -1.5em;

    content: '●';
}
.menu-list_type_main .menu-list__link_size_small:before
{
    content: '';
}

@media screen and (max-height:700px) {
    .menu-list_type_main .menu-list__link_size_normal
    {
        padding-top: .3em;
        padding-bottom: .4em;
    }
}
