.menu-list_type_level
{
    .menu-list
    {
        &__select
        {
            width: 85%;
            margin: 8px 12px;
        }

        &__delimeter
        {
            height: 0;
        }

        &__link_type_simple + .menu-list__delimeter
        {
            height: 1px;
        }
    }
}
