.menu-list_type_header
{
    overflow: hidden;

    margin-left: 10px;

    border-right: none;

    align-self: center;

    .menu-list__link
    {
        font-size: 15px;
        line-height: 1.5;

        display: inline-block;

        margin-right: 20px;

        transition: $transition-delay;
        vertical-align: middle;

        color: $white;

        &:hover,
        &_active
        {
            color: $yellow;
        }
    }
}
