.posts__title
{
    margin: 0;
    padding: 8px 0 7px 10px;

    text-transform: uppercase;
    letter-spacing: 2px;

    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    background: #EEEEEE;
}
