.error-billboard
{
    margin: 0 auto;
    padding-top: 50px;
}

.error-billboard__panel
{
    width: 50%;
    margin: 100px auto;
}

.error-billboard__title,
.error-billboard__description,
.error-billboard__report,
.error-billboard__sitemap
{
    text-align: center;
}

.error-billboard__sitemap
{
    font-size: 20px;

    margin-top: 50px;
}
