.error-billboard
{
    margin: 0 auto;
    padding-top: 50px;

    &__panel
    {
        width: 50%;
        margin: 100px auto;
    }

     &__title,
     &__description,
     &__report,
     &__sitemap
     {
         text-align: center;
     }

      &__sitemap
      {
          font-size: 20px;

          margin-top: 50px;
      }
}
