.error-billboard
{
    padding: 30px;

    h1
    {
        margin-top: 0;
    }

    &__logo
    {
        margin-right: 50px;
    }

    &__panel
    {
        font-size: 15px;

        display: inline-block;
        vertical-align: top;
    }

    &__description,
    &__report
    {
        margin-bottom: 20px;
    }

    &__sitemap
    {
        font-size: 20px;

        margin-top: 50px;
    }
}
