.search-item__description
{
    font-size: 13px;
    line-height: 1.6;

    color: #303030;

    p
    {
        margin: 0;
    }

    code
    {
        display: inline;

        background-color: transparent;
        border: 1px solid $border-color;
    }
}
