@font-face {
    font-family: textbook;
    src: local(textbook), url(./TBN45.otf);
}


.p-index__ya
{
    /*font-family: textbook, arial, sans-serif;*/
    /*font-size: 25px;*/

    position: absolute;
    bottom: 20px;
    display: block;

    padding-left: 200px;
    left: 0;
    right: 0;
}
