.menu-list__item_main,
.menu-list__item_main .link
{
    color: #FFFFFF;

    -webkit-transition: .3s color;
    -moz-transition: .3s color;
    -ms-transition: .3s color;
    -o-transition: .3s color;
    transition: .3s color;
}

.menu-list__item_main:hover {
    background: #000000;
}

.menu-list__item_main .link:hover {
    color: #FFD94D;
}
