.post__url
{
    margin: 12px 20px 12px auto;

    .link
    {
        display: inline-block;
    }

    .icon_view_github
    {
        $icon-size = 24px;

        width: $icon-size;
        height: $icon-size;
        margin-right: 5px;

        vertical-align: super;

        background-size: $icon-size;
    }
}
