.post_view_full .post__tags
{
    line-height: 20px;

    margin-left: 20px;
}

.post__tags .link
{
    margin-left: 2px;
    padding: 4px 10px;

    color: #AAAAAA;
    border-radius: 10px 10px 10px 10px;
    background: none repeat scroll 0 0 #EEEEEE;
}

.post__tags .link:hover{
    color: #777777;
    background: none repeat scroll 0 0 #DDDDDD;
}
