.post__tags
{
    font-size: 12px;

    .link
    {
        display: inline-block;

        margin: 0 2px 4px 0;
        padding: 4px 10px;

        white-space: nowrap;

        opacity: .5;
        color: #000;
        border-radius: 2px;
        background-color: #eee;

        &:hover
        {
            opacity: 1;
        }
    }

    .post_view_full &
    {
        line-height: 20px;

        margin-left: 20px;
    }
}
