.breadcrumbs__item
{
    display: inline-block;
    margin: 0;
}

.breadcrumbs__item::after
{
    content: '›';

    color: '#000';
    font-size: 16px;

    padding: 13px;
}

.breadcrumbs__item_pos_last:after
{
    content: '';

    padding: 0;
}
