.main-menu__item,
.main-menu__item .link
{
    color: #FFFFFF;

    -webkit-transition: .3s color;
    -moz-transition: .3s color;
    -ms-transition: .3s color;
    -o-transition: .3s color;
    transition: .3s color;
}


.main-menu__item .link:hover
{
    color: #FFD94D;
}
