.search-item
{
    position: relative;
    padding: 15px 0;

    &:before
    {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;

        height: 2px;

        content: '';

        background: linear-gradient(to left, #ffeba0 15%, #000 100%);
    }

    &:first-child
    {
        &:before
        {
            display: none;
        }
    }
}
