.search-panel
{
    display: none;
    position: absolute;
    z-index: 1001;
    top: 0;
    right: -350px;

    overflow-y: auto;

    box-sizing: border-box;
    width: 350px;
    height: 100%;
    padding: 20px;

    background-color: #fafafa;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.3);

    &_state_open
    {
        display: block;

        animation: slideLeft .6s .1s 1 both;
    }
}


@keyframes slideLeft
{
    0% { right: -350px; }
    100% { right: 0; }
}
