.post
{
    margin-bottom: 0px;
    padding: 10px 10px 5px 10px;
}

.post:last-child
{
    border-bottom: none;
}

.post .post__translation
{
    margin-top: 10px;
    margin-left: 20px;
}

.post img
{
    max-width: 100%;
}
