.post
{
    margin-bottom: 0;
    padding: 10px 10px 5px 10px;
}

.post:last-child
{
    border-bottom: none;
}

.post p
{
    margin: 0 0 20px;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6
{
    font-weight: normal;

    margin: 0 0 .5em 0;

    color: #000;
}

.post h1
{
    font-size: 32px;
}

.post h2
{
    font-size: 27px;
}

.post h3
{
    font-size: 22px;
}

.post h4
{
    font-size: 17px;
}

.post h5,
.post h6
{
    font-size: 16px;
}

.post .post__translation
{
    margin-top: 10px;
    margin-left: 20px;
}

.post img
{
    max-width: 100%;
}
