Source: yandex-bem-info-www
Section: yandex
Priority: optional
Build-Depends:
 conductor-utils,
 debhelper (>= 7),
 yandex-debhelper-all (>= 1.3.5),
 git-core
Maintainer: Andrey Kuznecov <bemer@yandex-team.ru>
Vcs-Git: git://github.yandex-team.ru/lego/bem-info.git
Vcs-Browser: http://github.yandex-team.ru/lego/bem-info

Package: yandex-bem-info-www
Section: yandex
Priority: optional
Depends:
 nginx,
 config-tools-nginx-vhost (>= 1-4-200),
 yandex-environment,
Provides: yandex-bem-www-www
Conflicts: yandex-bem-www-www
Replaces: yandex-bem-www-www
Architecture: all
Description: Node.js frontend for bem.info
