Source: yandex-legoa-www
Section: yandex
Priority: optional
Build-Depends:
 yandex-verstka-cdbs (>= 1.0.9),
 yandex-debhelper-all (>= 1.3.5),
 conductor-utils,
 git-core
Maintainer: Vladimir Varankin <varankinv@yandex-team.ru>
Vsc-Git: git://github.yandex-team.ru/lego/legoa-www.git
Vsc-Browse: http://github.yandex-team.ru/lego/legoa-www

Package: yandex-legoa-www
Section: yandex
Priority: optional
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 nginx,
 config-tools-nginx-vhost (>= 1-4-200),
 yandex-environment,
 yandex-vertis-nodejs0.10,
 yandex-legoa-data,
 yandex-legoa-tools
Architecture: all
Description: Front-end for legoa

Package: yandex-legoa-www-static-1-2-2
Section: yandex
Priority: optional
Pre-Depends: yandex-ycssjs-freeze-keeper
Architecture: all
Description: Static for WWW for legoa

Package: yandex-legoa-www-static
Section: yandex
Priority: optional
Depends: yandex-legoa-www-static-1-2-2 (>= 1.2.2)
Architecture: all
Description: Depends on latest yandex-legoa-www-static-*

