#!/usr/bin/make -f

TMP_PATH := /opt/nodejs/0.10/bin:$(PATH)
PATH=$(TMP_PATH)

YENV ?= production
NPM ?= /opt/nodejs/0.10/bin/npm --registry=http://npm.yandex-team.ru
BEM := $(shell $(NPM) bin)/bem

WWW_DESTDIR := debian/yandex-bem-info-www/usr/lib/yandex/bem-info-www
STATIC_DESTDIR := debian/yandex-bem-info-www/var/lib/yandex/bem-info-static
TMP_PREFIX := $(CURDIR)/debian/tmp

%:
	dh $@ --with=environment --no-restart

override_dh_auto_test override_dh_usrlocal:

override_dh_auto_configure:
	ln -sfn $(YENV) configs/current
	ln -sfn configs/current/borschik .borschik

override_dh_auto_build:
	$(NPM) install
	YENV=$(YENV) $(BEM) make libs
	YENV=$(YENV) $(BEM) make desktop.bundles

override_dh_auto_install:
	$(NPM) install --global --production --prefix=$(TMP_PREFIX)

override_dh_auto_clean:
	rm -rf node_modules \
		libs \
		freeze \
		.borschik
	git checkout -- configs/current node_modules

override_dh_install:
	dh_install
	dh_installlogrotate
	#dh_nodeubic -n
	dh_clearvcs
	dh_strip
	
	# Удаляем статику, которая есть на yandex.st
	find $(STATIC_DESTDIR)/libs/ \
			-maxdepth 1 \
			-type d \( -name "romochka" -o -name "bem-gen-doc" -o -name "bem-pr" \) \
		| xargs rm -rf
	
	find $(STATIC_DESTDIR) \
		-not \( -name "robots.txt" -o -name "humans.txt" \
			-o -name "*.css" \
			-o -name "*.js" -o -name "*.deps.js" \
			-o -name "*.gif" -o -name "*.png" -o -name "*.jp*g" \
			-o -name "*.swf" -o -name "*.ico" -o -name "*.svg" \
			-o -name "*.eot" -o -name "*.ttf" -o -name "*.otf" -o -name "*.woff" \) \
		-a -not -type d \
		-delete
	
	find $(STATIC_DESTDIR) \
		-type f \
		\( -name "*.node.js" -o -name "*.priv.js" -o -name "*.bemtree.js" -o -name "*.bemhtml.js" \) \
		-delete
	
	find $(WWW_DESTDIR)/desktop.bundles/ \
		-not -type d \
		-a -not \( -path "*.i18n/*" -o -name "*.priv.js" -o -name "*.node.js" -o -name "*.bemtree.js" -o -name "*.bemhtml.js" \) \
		-delete
