Source: yandex-legoa-tools
Section: yandex
Priority: optional
Build-Depends: debhelper (>= 7)
Maintainer: Vladimir Varankin <varankinv@yandex-team.ru>

Package: yandex-legoa-tools
Section: yandex
Priority: optional
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 yabs-graphite-client,
 yandex-vertis-nodejs-init
Architecture: all
Description: Tools package for legoa

