.topic
{
    text-decoration: none;
}

.topic,
.topic:hover,
.topic:link:hover,
.topic:link:visited:hover
{
	color: #000000;	
}

.topic__icon, .topic__data
{
	display: inline-block;
}

.topic__data 
{	
	vertical-align: top;
}

.topic__name
{
    font-size: 16px;
    line-height: 18px;

    margin-bottom: 4px;
}

