.layout_section_2-1,
.layout_section_100
{
    padding-left: 20px;
}

.layout__col
{
    box-sizing: border-box;
}

.layout_section_100 .layout__col
{
    padding-right: 20px;
    width: 100%;
}


.layout_section_2-1 .layout__col
{
    width: 70%;
}
