$table-border-color = #f3f1ee;
$table-padding-size = 5px 10px;

.post__content
{
    font-size: 14px;
    line-height: 1.7;

    max-width: 1050px;
    padding: 5px 20px 25px 0;

    h1:first-child
    {
        display: none;
    }

    p
    {
        margin: 0 0 20px;
    }

    img
    {
        max-width: 100%;
    }

    /* Headers */
    h2,
    h3,
    h4,
    h5,
    h6
    {
        margin: 0 0 .5em 0;
        position: relative;
    }

    h1
    {
        margin-top: 20px;
    }

    h2
    {
        font-size: 24px;
    }

    h3
    {
        font-size: 22px;
    }

    h4
    {
        font-size: 20px;
    }

    h5
    {
        font-size: 18px;
    }

    h6
    {
        font-size: 16px;
    }
    /* (END)Headers */

    /* Tables */
    .table-container
    {
        overflow-x: auto;
    }

    table
    {
        margin: 20px 0;

        border-spacing: 0;
        border: 2px solid $table-border-color;

        pre
        {
            margin: 0;

            code
            {
                padding: 0;

                border: none;
                background: transparent;
            }
        }
    }

    th
    {
        padding: $table-padding-size;

        border-right: 1px solid $table-border-color;
        border-bottom: 2px solid $table-border-color;
    }

    td
    {
        padding: $table-padding-size;

        border-right: 1px solid $table-border-color;
        border-bottom: 1px solid $table-border-color;

        &:last-child
        {
            border-right: none;
        }
    }
    /* (END) Tables */
}
