.post__content
{
    font-size: 16px;
    line-height: 1.5;

    max-width: 1050px;
    padding: 5px 19px 24px 0;

    color: #586e75;
}

.post_view_full .post__content h1:first-child
{
    margin-top: .4em;
}

/* Tables */

.post__content table
{
    width: 100%;

    border-spacing: 0;
}

.post__content th
{
    border-bottom: 3px solid #F3F1EE;
}

.post__content td
{
    padding: 5px;

    border-right: 1px solid #F3F1EE;
    border-bottom: 1px solid #F3F1EE;
}

.post__content td:first-child
{
    border-left: 1px solid #F3F1EE;
}

.post__content table code
{
    padding: 5px;

    background: #f8f8ff;
}

.post__content pre code
{
    display: block;
    overflow: auto;
}

.post__content h1:first-child
{
    display: none;
}


