.menu__item_complex_yes
{
    font-size: 0.9em;

    margin: 0;
    background: #EEEEEE;
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
}

.menu__item_complex_yes:hover
{
    background: #EEEEEE;
}
