.post_view_articles
{
    padding: 15px 20px 20px 25px;
}

.post_view_articles > .post__date,
.post_view_articles > .post__author,
.post_view_articles > .post__translator,
.post_view_articles > .post__tags,
.post_view_articles > .post__categories
{
    font-size: 0.9em;

    display: inline-block;

    padding-right: 10px;
}
