.page__fullscreen 
{
	background: gold;
    width: 20px;
    height: 20px;
    -webkit-flex: 0 0 20px;
    -moz-flex: 0 0 20px;
    -ms-flex: 0 0 20px;
    flex: 0 0 20px;
	cursor: pointer;
    z-index: 1000;
}

.page_fullscreen .page__fullscreen 
{
	background: red;
}
