.p-index__link
{
    font-size: 20px;

    margin-top: 38px;
    padding: 14px 30px;

    background-color: #EEEEEE;
    color: #111111;

    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
}
