.content
{
    position: relative;

    overflow-y: auto;

    box-sizing: border-box;
    /* Don`t remove! Fix danced column width */
    width: 100%;

    -webkit-overflow-scrolling: touch;
    flex: auto;
    
    blockquote
    {
        margin: 0;
        padding: 0 15px;

        border-left: 4px solid #ddd;

        color: #777;
    }
}
