.post_view_full
{
    margin-bottom: 10px;
    padding: 10px 10px 5px 0;
}

.post_view_full  .post__date,
.post_view_full  .post__author,
.post_view_full  .post__translator,
.post_view_full  .post__tags
{
    display: inline-block;
}

.post_view_full h1.post__title
{
    margin-top: 20px;
}

.post_view_full .post__issueLink
{
    color: #333;
}
