.post_view_full
{
    margin-bottom: 10px;
    padding: 10px 10px 5px 0;

    .post__author,
    .post__translator,
    .post__tags
    {
        display: inline-block;
    }

    h1.post__title
    {
        margin-top: 20px;
    }

    .post__issueLink
    {
       color: #333;
    }
}
