.post_view_list-item
    padding: 15px 5px 20px 25px

    .post__date,
    .post__author,
    .post__translator,
    .post__tags
        font-size: 12px
        display: inline-block
        padding-right: 10px

    .post__title
        margin-top: 0

    .post__summary
        font-size: 14px
        line-height: 1.7
