.content__arrow-up
{
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 2;

    visibility: hidden;
    opacity: 0; /* нужно для анимации */
    width: 30px;
    height: 30px;

    background-image: url(content__arrow-up.svg);
    background-size: 100%;

    transition: opacity .3s ease-out 0s, background .3s ease-out 0s;

    &_visible
    {
        visibility: visible;
        opacity: .3;
    }

    &:hover
    {
        cursor: pointer;

        opacity: .4;
    }
}
