.main-menu
{
    position: fixed;
    top: 0;
    bottom: 0;

    display: table-cell;
    overflow: auto;

    width: 200px;

    vertical-align: top;

    background: #000;
}

/* hotfix https://st.yandex-team.ru/BEM-1464 */
.i-ua_touch_yes .main-menu
{
    position: static;

    float: left;
}

.main-menu__wrapper
{
    position: relative;

    min-height: 100%;
    padding-top: 20px;
    padding-bottom: 30px;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
