.link
{
    text-decoration: none;
    color: #268bd2;
}

.link:link
{
    color: #268bd2;
}

.link:hover
{

    -webkit-transition: color .15s ease-out;
    -moz-transition: color .15s ease-out;
    -ms-transition: color .15s ease-out;
    -o-transition: color .15s ease-out;
    transition: color .15s ease-out;;
}
