.menu-list__item
{
    font-size: 14px;
}

.menu-list__item .link
{
    display: block;

    padding: 8px 12px 7px 12px;

    text-decoration: none;

    color: #333;
}

@media screen and (max-height:700px) {
    .menu-list__item {
        font-size: 12px;
    }
}
