body,
html
{
    height: 100%;
    padding: 0;
}

.page
{
    font: 15px Arial,Helvetica,sans-serif;

    position: relative;
    z-index: 0;

    display: flex;

    min-height: 700px;
    margin: 0;
    padding: 0;
}

.page_page_tags .page__fullscreen,
.page_page_authors .page__fullscreen
{
    display: none;
}
