.block-docs__description
{
    margin-bottom: 10px;
}

/* Поддержать блок b-text из bem.sets */
.block-docs__description .b-text__p
{
    margin-bottom: 20px;
}

.block-docs__description .b-text__h3
{
    font-size: 22px;

    margin: 0 0 .5em 0;

    color: #000;
}

.block-docs__description .b-link
{
    display: inline-block;
}

.block-docs__description .b-text__ul
{
    margin: 0.5em 0 1em 3.2em;
    padding: 0;
}

.block-docs__description .b-text__li
{
    margin: 0.35em 0;
    padding: 0;
}

.block-docs__description .b-text__li:before
{
    content: '\2014\a0';
    font-size: 1em;
    margin: 0 0 0 -1.5em;
    position: absolute;
}
/* (END) Поддержать блок b-text из bem.sets */
