/* Верхняя черта */
.tabs_theme_default .tabs__header
{
    line-height: 34px;

    list-style: none outside none;

    border-bottom: 1px solid #e5e5e5;
}

/* Цвет и отступы отдельного таба */
.tabs_theme_default .tabs__tab
{
    margin-right: 15px;

    color: #999;
}

.tabs_theme_default .tabs__tab::after
{
    position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;

    content: '';
}

.tabs_theme_default .tabs__tab:hover::after
{
    border-bottom: 2px solid #000;
}

.tabs_theme_default .tabs__tab_state_current
{
    color: #000;
}

/* Верхнее выделение таба */
.tabs_theme_default .tabs__tab_state_current::after
{
    border-bottom: 3px solid !important;
}
