.topic__header
{
    padding: 5px;
    min-height: 30px;
    margin-bottom: 10px;
}

.topic__header .topic__icon-wrapper, .topic__header .topic__data
{
    display: inline-block;
}

.topic__header .topic__icon 
{
    display: block;
}

.topic__header .topic__data
{
    margin-left: 10px;
    padding-top: 10px;
}

.topic__header .topic__name
{
    font-size: 1.5em;
    font-weight: bold;
}

.topic__header .topic__field
{   
    font-size: 14px;
    margin-top: 5px;
}

.topic__header .topic__readme-switcher 
{
    margin-top: 5px;
    padding-left: 2px;
}