.code,
.static-text tt
{
    color: #191919;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}

.code
{
    font-size: 13px;
    line-height: 19px;

    padding: 5px 10px;
    margin: 20px 0;

    overflow: auto;
}

.code code
{
    font-family: inherit;
}

.static-text tt
{
    background: #f5f3e4;

    padding: 0 3px;

    white-space: pre-wrap;
}