.menu-list
{

    flex: 1 0 auto;
    box-sizing: border-box;

    overflow: auto;
    border-right: 1px solid rgba(0,0,0,.2);
    position: relative;
    list-style-type: none;
    padding: 0px;
    margin: 0px;

    display: block;
    min-width: 100px;
    max-width: 200px;
    width: auto;
}

.page_fullscreen .menu-list
{
    display: none;
}

.page_fullscreen .menu-list_main
{
    display: block;
}

