.menu-list
{
    position: relative;

    display: block;
    overflow: auto;

    box-sizing: border-box;
    min-width: 100px;
    max-width: 200px;
    margin: 0;
    padding: 0;

    list-style-type: none;

    border-right: 1px solid rgba(0,0,0,.2);

    flex: 1 0 auto;
}

.page_fullscreen .menu-list
{
    display: none;
}

.page_fullscreen .menu-list_main
{
    display: block;
}

