.menu-list__item_type_group
{
    font-weight: bold;
    line-height: 1.2em;

    margin: 0;
    padding: 8px 12px 7px 12px;

    border-top: 1px solid rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(0,0,0,.2);
    background: #f6f5f3;
}
