.bk-subject__mod-name
{
    margin: 0;
    padding: 0;
}

.bk-subject__mod-val-list
{
    border: 0;
    border-collapse: collapse;

    margin: 10px 0;

    text-align: left;
}

.bk-subject__mod-val-name,
.bk-subject__mod-val-title
{
    margin: 0;
    padding: 5px 0;

    vertical-align: baseline;
}

.bk-subject__mod-val-name
{
    padding-right: 10px;
}