.link_award {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 120px;
    padding-top: 125px;

    text-align: center;

    background: url('../../../common.blocks/link/_award/net_awards_logo.svg') no-repeat top center;
    background-size: 120px;
}

.page_page_index .menu-list .link_award {
    display: none;
}

.menu-list .link_award {
    position: static;

    display: block;

    margin: 20px 0 90px 30px;
    padding: 80px 0 0 0;

    text-align: left;

    color: #fff;
    background: url('../../../common.blocks/link/_award/net_awards_logo.svg') no-repeat top left;
    background-size: 86px;
}

