.block
{
    .tabs__header
    {
        padding: 0 30px;
    }

    .tabs__content
    {
        padding: 40px 30px 20px;
    }

    .post__content
    {
        max-width: 100%;
        padding: 0;
    }
}
