.block
{
    .tabs__header,
    .tabs__content
    {
        padding-left: 30px;
        padding-right: 30px;
    }

    .tabs__content
    {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .post__content
    {
        max-width: 100%;
        padding: 0;
    }
}
