.author_view_grid-cell
{
    display: inline-block;

    width: 160px;
    height: 160px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 5px 5px;

    transition: font-size .15s ease-out;
    text-align: center;
    vertical-align: top;
    text-decoration: none;

    color: #555;
    background: #fff;
}

.author_view_grid-cell:hover
{
    font-size: 1.2em;
}

.author_view_grid-cell > .author__name
{
    display: block;

    margin-top: 9px;
}
