.author_view_grid-cell
{
    display: inline-block;

    width: 160px;
    height: 160px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 5px 5px;

    text-align: center;
    vertical-align: top;
    text-decoration: none;

    color: #333;

    &:hover .author__avatar
    {
        border-color: #ffc900;
    }

    .author__name
    {
        display: block;

        margin-top: 10px;
    }
}
