.author__avatar-wrapper,
.author__data-wrapper
{
    display: inline-block;
}

.author__data-wrapper
{
    padding-top: 8px;
    padding-left: 20px;
    vertical-align: top;
}

.author__data-wrapper > .contact-info
{
    margin-top: 10px;
}

.author_view_full .author__name
{
    font-size: 1.3em;
    font-weight: bold;

    margin-bottom: 10px;
}

.author_view_full .author__avatar
{
    padding: 5px 5px 2px;
}


.contact-info .author__e-mail,
.contact-info .author__twitter,
.contact-info .author__github,
.contact-info .author__skype
{
    padding: 2px 0;
}

.author_view_full .author__info
{
    padding: 15px 0 10px 0;
}

.author_view_full .author__label,
.author_view_full .author__value
{
    display: inline-block;
}

.author_view_full .author__value
{
    padding: 0 0 0 10px;
    vertical-align: top;
}
