.author_view_full
    display: table
    margin: 10px 20px

    .author
        &__avatar-wrapper,
        &__data-wrapper
            display: table-cell
            vertical-align: middle

        &__avatar
            padding: 5px

        &__name
            font-size: 17px
            font-weight: bold
            margin-bottom: 10px
