.icon_view
{
    &_github
    {
        background-image: url('icon_view_github.svg');
    }

    &_desktop
    {
        background-image: url('icon_view_desktop.svg');
    }

    &_touch-pad
    {
        background-image: url('icon_view_touch-pad.svg');
    }

    &_touch-phone
    {
        background-image: url('icon_view_touch-phone.svg');
    }
}
