.header
{
    align-items: center

    position: relative;
    z-index: 1000; //for bem-forum loader

    background-color: #000;

    .logo_type_bem
    {
        width: 61px;
        height: 38px;
        margin: 12px auto 4px 12px;

        background-size: 38px;
    }

    .search-button
    {
        margin-right: 20px;
    }
}
